## `Spotify`-ETL



<img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png">




##### Made by Moudni Houda 
Data Engineering Student at National School of Applied Science-ENSA

- e-mail : mdnhouda1702@gmail.com

In [1]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /Users/houdamoudni/anaconda3/lib/python3.11/site-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.1.1-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 22.1 kB/s eta 0:00:0000:0100:12
Requirement already satisfied: numpy>=1.23.2 in /Users/houdamoudni/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/houdamoudni/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/houdamoudni/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 20.6 kB/s eta 0:00:00a 0:00:02
Requirement already satisfied: six>=1.5 in /Users/houdamoudni/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
Successfully installed pandas-2.1.1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
from requests import post
import requests
import os
import json
import base64
from datetime import datetime
import datetime
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

## EXTRACT PHASE

In [3]:
client_id = os.getenv("CLIENT_ID", "your_client_id")
client_secret = os.getenv("CLIENT_SECRET", "your_client_secret")

In [4]:
def get_TOKEN():
    auth_string = client_id + ":" + client_secret
    auth_bytes = auth_string.encode("utf-8")
    auth_base64 = str(base64.b64encode(auth_bytes), "utf-8")

    url = "https://accounts.spotify.com/api/token"
    header = {
        "Authorization": "Basic " + auth_base64 ,
        "Content-Type" : "application/x-www-form-urlencoded"
    }

    data = {
        "grant_type": "client_credentials",
        "scope": "user-read-recently-played"
        }
    
    results = post(url, headers= header, data= data)
    json_results = json.loads(results.content)
    token = json_results["access_token"]

    return token

In [5]:
def extract_DATA():
    TOKEN = get_TOKEN()
    headers = {
        "Authorization": "Bearer {token}".format(token=TOKEN)
    }
    
    url = f"https://api.spotify.com/v1/browse/new-releases"
    r = requests.get(url, headers=headers)

    data = json.loads(r.content)


    total_tracks = []
    album_name = []
    release_date = []
    artist_name = []


    for album in data['albums']['items']:
        total_tracks.append(album['total_tracks'])
        album_name.append(album['name'])
        release_date.append(album['release_date'])
        artist_names = [artist['name'] for artist in album['artists']]
        artist_name.append(artist_names)
    
    album_dict = {
        "album_name" : album_name,
        "artist_name" : artist_name,
        "release_date" : release_date,
        "total_tracks" : total_tracks
    }


    return album_dict

In [6]:
HEADER = ["album_name","artist_name","release_date","total_tracks"]

In [7]:
new_releases = pd.DataFrame(extract_DATA() , columns = HEADER)
new_releases

,album_name,artist_name,release_date,total_tracks
0,DELLALI (feat. Hamza),"[ElGrandeToto, Hamza]",2023-11-08,1
1,WELD LAADOUL,[ElGrandeToto],2023-10-26,1
2,ماما,[Inkonnu],2023-10-05,1
3,ZIGZAG,[Bo9al],2023-09-30,1
4,Hyati,[Duke],2023-09-23,1
5,Sbabi,[Inez],2023-09-08,1
6,IL0V3Y0U,[Faouzia],2023-09-08,4
7,DAMIRI,[Lbenj],2023-09-03,1
8,BÉNÉF,"[SCOOL BOY, Hassa1]",2023-08-31,1
9,À toi,[RYM],2023-08-31,1
10,I HATE SUMMER,[Vargas],2023-08-18,5
11,Maghribia,[Houssainy],2023-08-08,1
12,Lost Chapter - A COLORS SHOW,[Madd],2023-08-10,1
13,UTOPIA,[Travis Scott],2023-07-28,19
14,Rapapap,"[Moha K, kouz1]",2023-07-28,1
15,Chouka,"[Tiiwtiiw, Morad]",2023-07-26,1
16,3DABI,[Draganov],2023-07-20,1
17,MORAK,[Manal],2023-07-07,1
18,Casanova,"[Soolking, Gazo]",2023-07-06,1
19,Before Iceberg,[Stormy],2023-06-09,1

## TRANSFORM PHASE

In [8]:
def transform_DATA():
    if new_releases.empty:
        print("No new Albums. Finishing execution")
        return False 
    
    if new_releases.isnull().values.any():
        raise Exception("Null values found")
    

def join_names(names_list):
    return " & ".join(names_list) if isinstance(names_list, list) else names_list

new_releases['artist_name'] = new_releases['artist_name'].apply(join_names)

In [9]:
new_releases

,album_name,artist_name,release_date,total_tracks
0,DELLALI (feat. Hamza),ElGrandeToto & Hamza,2023-11-08,1
1,WELD LAADOUL,ElGrandeToto,2023-10-26,1
2,ماما,Inkonnu,2023-10-05,1
3,ZIGZAG,Bo9al,2023-09-30,1
4,Hyati,Duke,2023-09-23,1
5,Sbabi,Inez,2023-09-08,1
6,IL0V3Y0U,Faouzia,2023-09-08,4
7,DAMIRI,Lbenj,2023-09-03,1
8,BÉNÉF,SCOOL BOY & Hassa1,2023-08-31,1
9,À toi,RYM,2023-08-31,1
10,I HATE SUMMER,Vargas,2023-08-18,5
11,Maghribia,Houssainy,2023-08-08,1
12,Lost Chapter - A COLORS SHOW,Madd,2023-08-10,1
13,UTOPIA,Travis Scott,2023-07-28,19
14,Rapapap,Moha K & kouz1,2023-07-28,1
15,Chouka,Tiiwtiiw & Morad,2023-07-26,1
16,3DABI,Draganov,2023-07-20,1
17,MORAK,Manal,2023-07-07,1
18,Casanova,Soolking & Gazo,2023-07-06,1
19,Before Iceberg,Stormy,2023-06-09,1

## LOAD PHASE

In [10]:
def load_DATA():
    
    db_user = 'user'
    db_password = 'password'
    db_host = 'localhost'
    db_name = 'db name'

    try:
        
        connection = mysql.connector.connect(
            user=db_user,
            password=db_password,
            host=db_host,
            database=db_name
        )

        if connection.is_connected():
            db_Info = connection.get_server_info()
            print("Connected to MySQL Server version", db_Info)
            cursor = connection.cursor()
            cursor.execute("select database();")
            record = cursor.fetchone()
            print("You're connected to database:", record)

        cursor = connection.cursor()

        sql_query = """
        CREATE TABLE NEW_RELEASES (
            album_name VARCHAR(200) Primary key,
            artist_name VARCHAR(200),
            release_date VARCHAR(200),
            total_tracks INTEGER
        );
        """

        cursor.execute(sql_query)
        print("Table NEW_RELEASES created successfully")

        db_connection_str = 'mysql+mysqlconnector://user:password2@localhost/db_name'
        db_engine = create_engine(db_connection_str)
        new_releases.to_sql('NEW_RELEASES', con=db_engine, if_exists='append', index=False)
        db_engine.dispose()
        print("Data successfully inserted into the database")

    except mysql.connector.Error as err:
        print("MySQL Error:", err)

In [11]:
load_DATA()

Connected to MySQL Server version 8.0.33
You're connected to database: ('spotify_etl',)
Table NEW_RELEASES created successfully
Data successfully inserted into the database

In [13]:
new_releases.to_csv("Spotify_new_releases.csv",index=False)